/* GENERAL */

  @import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@500;600&family=Poppins:wght@400;500;600&display=swap');
  

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Pixelify Sans', sans-serif;
  background-color: rgb(255, 254, 250);
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

hr {
  border: none;
  border-top: 3px dotted #999;
  color: #999;
  background-color: #fff;
  height: 1px;
}

/* HORIZONTAL RULE */

.hr-1, .hr-2 {
  border: none;
  border-top: 5px dotted rgb(222, 133, 155);
  color: #999;
  background-color: #fff;
  height: 1px;
  margin: 0px 30px;
}

.hr-2 {
  margin: 30px 30px;
}

/* TRANSITION */
a, .btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */
nav, .nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: gray;
  text-decoration-color: rgb(181, 181, 181);
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */
#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__first-pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center; 
  font-size: 1.75rem;
  margin-bottom: 0.5rem; 
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1, .btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}

.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
  background-color: rgb(217, 117, 155);
  color: white;
}

.btn-color-1:hover {
  background: black;
}

.btn-color-2 {
  background: none;
}

.btn-color-2:hover {
  border: rgb(255,255,255) 0.1 solid;
}

.btn-container {
  gap: 1rem;
}

/* ABOUT ME */

.section__about-pic-container {
  display: flex;
  height: 200px;
  width: 200px;
  margin: 0 0;
}

.about-container {
  font-size: 1.5rem;
  line-height: 1.4;
}

.details-container {
  font-family: 'Poppins', sans-serif;
  line-height: 1.7;
}

.footer-container {
  text-align: center;
  margin: 30px 0px;
}

/* CONTACT */

.message-container {
  text-align: center;
  margin: 10px 20%;
}

/* PHOTOGRAPHY */

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px 30px 0 30px;
}

.photo-title {
  font-size: 3rem;
  margin: 30px 30px;
}

.container .box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container .box .column {
  display: flex;
  flex-direction: column;
  width: 32.5%;
}

.container .box .column img {
  width: 100%;
  padding-bottom: 15px;
  border-radius: 5px;
  border-color: rgb(255, 254, 250);
}

/* FOOTER */

.footer-container {
  text-align: center;
  margin-bottom: 30px;
}